.regdemo{
  // background: rgba(231,232,235,1);
  background-size: 100% 100%;
  .step{
    margin-top: 40px;
    margin-left: 118px;
    margin-right: 118px;
    margin-bottom: 31px;
  }
  .stepli{
    // background: red
  }
  .uhide{
    display: none;
  }
  .upperdv{
    // width:266px;
    // height:20px;
    font-size:14px;
    font-weight:400;
    color:rgba(184,184,184,1);
    // line-height:20px;
  }
  .subimg{
    width: 60px;
    height: 61px;
  }
  .subdv{
    width:425px;
    height:36px;
    font-size:25px;
    font-weight:400;
    color:rgba(81,76,74,1);
    line-height:36px;
  }
  .subtip{
    width:450px;
    height:63px;
    font-size:15px;
    font-weight:400;
    color:rgba(137,137,137,1);
    line-height:21px;
    text-indent:26px;
    }
  
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #A9A9A9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #A9A9A9;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #A9A9A9;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #A9A9A9;
}